@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

//colors
$white: #fff;
$fontblack: #29292a;
$black: #000;
$maroon: #83333e;
$off-white: #f2f4f5;
$btn: #29292a;

html,
body {
  font-family: Open Sans;
  font-size: 18px;
  max-width: 100%;
  padding: 0px;
  margin: 1px;
  overflow-x: hidden;
}
h1 {
  font-family: Open Sans;
  font-size: 30px;
}
h2 {
  font-family: open sans;
  font-size: 35px;
}
h4 {
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 200;
}

.container {
  width: 1080px;
  min-width: 1080px;
  margin: 0 auto;
  @media (max-width: 1080px) {
    width: 1080px;
    min-width: 1080px;
  }
  @media (max-width: 1080px) {
    width: 976px;
    min-width: 976px;
  }
  @media (max-width: 976px) {
    width: 768px;
    min-width: 768px;
  }
}

//Header
header {
  height: 800px;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 10;
  .inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    .logo {
      a {
        font-weight: 200;
        font-size: 18px;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 9px;
        color: $white;
      }
    }
    .navigation {
      nav {
        a {
          margin: 0 20px;
          text-decoration: none;
          letter-spacing: 2px;
          text-transform: uppercase;
          font-size: 14px;
          color: $white;
          &:last-child {
            margin-right: 0px;
          }
        }
      }
    }
  }
}

//banner
.banner {
  display: flex;
  padding-bottom: 20px;
  align-items: center;
  background-color: #29292a;
  position: relative;
  height: 95vh;
  .row {
    position: relative;
    .maintext {
      margin-top: -10px;
      font-family: poppins;
      letter-spacing: 5px;
      font-weight: 400;
      color: $off-white;
      position: absolute;
      width: 100%;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      text-align: left;
      z-index: 9;
      @media (max-width: 1080px) {
        font-size: 35px;
        letter-spacing: 35;
      }
    }
  }
}

.bottomcontact {
  position: relative;
  text-align: right;
  letter-spacing: 7px;
  color: $off-white;
  text-transform: uppercase;
  bottom: -43vh;
}

//SeondSec
.SecondSec {
  background-image: url(../images/imagered.jpg);
  opacity: 0.8;
  display: flex;
  padding: 70px;
  align-items: center;
  position: relative;
  height: 80vh;
  .container {
    .row {
      .col-1 {
        width: 70%;
        color: $off-white;
        .btn {
          padding: 1px;
          text-align: center;
          color: $black;
          width: 30%;
          background-color: $off-white;
        }
      }
    }
  }
}
